body {
    font-family: Arial, sans-serif;
    line-height: 1.4;
    color: #444;
    margin: 0;
    background-color: #fff;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
    box-sizing: border-box;
}

h1, h2, h3 {
    color: #2E7D32;
}

h1 {
    font-size: 24px;
    margin-bottom: 30px;
}

h2 {
    font-size: 18px;
    margin-bottom: 15px;
}

.content-wrapper {
    display: flex;
    gap: 60px;
}


.main-content {
    flex: 2;
}

.description {
    margin-bottom: 25px;
    font-size: 15px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

select {
    font-size: 14px;
    font-family: inherit;
    width: 100%; /* Para que ocupe el mismo ancho que los inputs */
    padding: 10px; /* Esto añade el espacio interno que buscas */
    background-color: #d9d9d9;
    border: 1px solid #767676;
    border-radius: 8px;
    box-sizing: border-box; /* Muy importante: evita que el padding "ensanche" el elemento */
    cursor: pointer;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    background-color: #d9d9d9;
    border: 1px solid #767676;
    border-radius: 8px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
    resize: none;
    font-size: 16px;
    font-family: inherit;
}

.btn-submit {
    background-color: darkgreen;
    color: white;
    border: 0;
    padding: 8px 25px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    font-family: inherit;
}


.side-content {
    flex: 1;
    padding-top: 100px;
}

.side-content h3 {
    font-size: 16px;
    margin-bottom: 15px;
}

.side-content p {
    font-size: 14px;
    margin-bottom: 15px;
}

.info-list {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.info-list li {
    margin-bottom: 10px;
    font-size: 14px;
}